<!DOCTYPE html>
<html>

<head>
    <title>Rentgen — Widok szczegółowy</title>
    <meta charset="utf-8" />
    <link
        rel="stylesheet"
        href="/lib/styles/global.css"
    >
    <link
        rel="stylesheet"
        href="/lib/components/sidebar/sidebar.css"
    >
</head>

<body>
    <div id="app"></div>

    <script src="/node_modules/react/umd/react.production.min.js"></script>
    <script src="/node_modules/react-dom/umd/react-dom.production.min.js"></script>
    <script src="/lib/components/sidebar/sidebar.js"></script>

</body>

</html>