@import './styles/colors.scss';

.options-container {
    padding-top: 0.5rem;
    span {
        color: $ultra-black-color;
        font-size: 0.875rem;
        font-weight: 600;
    }

    fieldset {
        padding: 0.5rem 0 1rem;
        border: none;
        display: flex;
        flex-flow: column;

        .label-checkbox {
            cursor: pointer;
            margin-left: 0.5rem;
        }

        .input-container {
            padding-bottom: 0.25rem;
        }

        #minValueLength {
            width: 3rem;
        }
    }
}
