@import './../../styles/colors.scss';

h1 {
    font-size: 1.1rem;
    margin-bottom: calc(24 / 16 * 1rem);
}

.generator-container {
    max-width: 100ex;
    margin: 0 auto;
    font-size: calc(14 / 16 * 1rem);
}

.mail-container {
    box-shadow: rgba(12, 12, 13, 0.1) 0px 1px 4px 0px;
    background-color: #fff;
    margin-top: 0.5rem;

    max-width: 100ex;
    margin: 0 auto;
    font-size: calc(14 / 16 * 1rem);

    &__header {
        display: flex;
        justify-content: flex-end;
    }

    &__content {
        max-height: 50vh;
        overflow-y: scroll;
        padding: 1rem 2rem;
        color: $black-color;
        a {
            color: $ultra-black-color;
        }
    }

    h2 {
        font-weight: 700;
        font-size: 1rem;
    }

    p {
        font-size: calc(14 / 16 * 1rem);
    }
}

.greeting-text {
    font-size: 1rem;

    a {
        color: $ultra-black-color;
        font-weight: 700;
    }
}
