<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Treść maila do zgłoszenia</title>
    <link
        rel="stylesheet"
        href="/lib/styles/fonts.css"
    >
    <link
        rel="stylesheet"
        href="/node_modules/survey-react/survey.css"
    />
    <link
        rel="stylesheet"
        href="/node_modules/survey-react/modern.css"
    />
    <link
        rel="stylesheet"
        href="/lib/components/report-window/report-window.css"
    />

</head>

<body>
    <div id="app"></div>
    <script src="/node_modules/react/umd/react.development.js"></script>
    <script src="/node_modules/react-dom/umd/react-dom.development.js"></script>
    <script src="/lib/components/report-window/report-window.js"></script>
</body>

</html>