$ultra-black-color: #000;
$black-color: hwb(217.5 18.4% 78.4%);
$disabled-grey: #8a949f;
$light-grey: #d1d1d1;
$ultra-light-grey: #ededed;
$blue: #0048d9;
$icd-yellow: #ffee2c;
$icd-rentgen-color: #99ffdd;
$highlight-color: #ccffee;
$pale-yellow: #fff8e5;
$contrast-yellow: #ffb900;
