@import './colors.scss';

.sidebar {
    .header {
        display: grid;
        grid-template-columns: 6.67rem 1fr 1.25rem;
        align-items: center;
        max-height: 3.5rem;
        min-height: 3.5rem;
        border-bottom: 1px solid $light-grey;
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 1;

        &--without-logo {
            grid-template-columns: 1fr 1.25rem;
        }

        .webpage-metadata {
            word-break: break-all;
            display: flex;
            flex-flow: column;
            flex-wrap: nowrap;
            font-size: 0.875rem;
            font-weight: 600;
            justify-content: center;
            padding-left: 1rem;
            color: #000;

            &--without-logo {
                padding-left: 0;
            }

            &--hyperlink {
                font-weight: 400;
                color: $ultra-black-color;
                max-height: 2rem;
                overflow: hidden;
            }
        }

        button {
            border: none;
            background: transparent;
            cursor: pointer;
            padding: 0;
        }
    }

    nav {
        padding: 0.25rem 0;
        border-bottom: 1px solid $light-grey;

        button {
            border: none;
            cursor: pointer;
            color: $ultra-black-color;
            padding: 0.25rem 0rem;
            display: flex;
            flex-wrap: nowrap;
            line-height: 1.25rem;
            background: #fff;
            width: 100%;

            &:hover {
                color: #000;
                text-decoration: underline;
                svg path {
                    fill: #000;
                }
            }

            &:disabled {
                cursor: not-allowed;
                color: $disabled-grey;
                svg path {
                    fill: $disabled-grey;
                }
            }

            span {
                padding-left: 0.5rem;
                font-size: 0.875rem;
                font-weight: 500;
            }
        }
    }

    .warning-container {
        background-color: $pale-yellow;
        border-left: 4px solid $contrast-yellow;
        margin-top: 0.5rem;
        font-size: 0.875rem;
        display: grid;
        grid-template-columns: calc(100% - 2rem) 2rem;
        align-items: flex-start;

        span {
            padding: 1rem;
        }

        button {
            justify-content: flex-end;
            border: none;
            cursor: pointer;
            color: $ultra-black-color;
            line-height: 1.25rem;
            background: transparent;
            padding: 0.5rem 0.5rem;
            display: flex;
            align-self: flex-start;
        }
    }
}
