<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <style>

    </style>
</head>

<body>
    <div id="toolbar"></div>
    <link
        rel="stylesheet"
        href="/lib/styles/global.css"
    >
    <link
        rel="stylesheet"
        href="/lib/components/toolbar/toolbar.css"
    >
	<script src="/node_modules/react/umd/react.production.min.js"></script>
	<script src="/node_modules/react-dom/umd/react-dom.production.min.js"></script>
    <script src="/lib/components/toolbar/toolbar.js"></script>

</body>

</html>
