<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link
        rel="stylesheet"
        href="/lib/styles/global.css"
    >
    <link
        rel="stylesheet"
        href="/lib/components/toolbar/toolbar.css"
    >

</head>

<body>
    <div id="toolbar"></div>

    <script src="/node_modules/react/umd/react.production.min.js"></script>
    <script src="/node_modules/react-dom/umd/react-dom.production.min.js"></script>
    <script src="/lib/components/toolbar/toolbar.js"></script>

</body>

</html>