$ultra-black-color: #000;
$black-color: hwb(217.5 18.4% 78.4%);
$disabled-grey: #8a949f;
$light-grey: #d1d1d1;
$ultra-light-grey: #ededed;
$blue: #0048d9;
$icd-yellow: #ffee2c;
$icd-rentgen-color: #99ffdd;
$contrast-icd-rentgen-color: #33f9b7;
$highlight-color: #ccffee;
$row-color: hsl(160, 100%, 94%);
$pale-yellow: #fff8e5;
$pale-red: hsl(10.8, 100%, 94.9%);
$contrast-yellow: #ffb900;
$contrast-red: #ff726b;
$dark-red: hsl(2.8, 100%, 34%);
