@import './fonts.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    font-smooth: auto;
    -webkit-font-smoothing: auto;
    user-select: none;
}

body {
    width: 400px;
    height: 600px;
    overflow-x: hidden;
}

html {
    font-size: 1rem;
    font-family: 'OpenSans';
}

button {
    display: inline-block;
    line-height: 3rem;
    padding: 0 1rem;
    white-space: nowrap;
}

select {
    height: 3rem;
    line-height: 3rem;
    flex-shrink: 1;
}

#tab_dropdown {
    flex-basis: 20px;
    width: 100px !important;
    flex-grow: 1;
}

#selector {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#app {
    user-select: text;
    padding: 0rem 0.75rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
